/*parte dell header*/
#contenitore-header{
    width: auto;
    border-bottom: solid 1px #fff;
}

#logo{
    width: 100px;
    line-height: 100%;
    vertical-align: middle;
    margin-left: 3%;
}

#contenitore-header, span {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*contenitore principale del main*/
#contenitore-principale{
    width: 70%;
    margin: 20px auto;
    border: solid 1px #bbb;
    text-align: left;
}

#button{
    margin-left: 5%;
    padding-bottom: 3%;
}