/*parte dell header*/
#contenitore-header{
    width: auto;
    border-bottom: solid 1px #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    width: 100px;
    line-height: 100%;
    vertical-align: middle;
    margin-left: 3%;
}

#contenitore-header, main-title {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

/*contenitore principale del main*/
#contenitore-principale{
    width: 70%;
    margin: 20px auto;
    border: solid 1px #fff;
    text-align: left;
    background-color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#button{
    margin-left: 5%;
    padding-bottom: 3%;
    padding-top: 2%;
    line-height: 30px;
}
#task{
    width: 70px;
    height: 30px;
    background-color: rgb(9, 187, 247);
    text-align: center;
    vertical-align: middle;
    border-radius: 10%;
    font-size: small;
    display: inline-block;
    color: #fff;
    
}

#section{
    width: 100px;
    height: 30px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 10%;
    font-size: small;
    display: inline-block;
    color: lightgray;
    margin-right: 2%;
    border: solid 1px lightgray;
}

/*prima sezione del contenuto*/
.title{
    margin-left: 5%;
    padding-bottom: 5%;
    line-height: 30px;
}

.croce{
    font-size: large;
    padding-top: 1%;
}

.croce::before{
    content: '\2716';
    font-size: medium;
    margin-right: 1%;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border: solid 1px red;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
    color: red;
}

.freccia{
    font-size: 30px;
    font-weight:bolder;
    padding-bottom: 1%;
}
.freccia::before{
    content: '\25BC';
    font-size: medium;
    margin-right: 1%;
    text-align: center;
}

.spunta::before{
    content: '\2713';
    color: green;
    font-size: small;
    margin-right: 1%;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border: solid 1px green;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
    color: green;
}
.spunta{
    font-size: large;
    padding-top: 1%;
}

.counter{
    width: 70px;
    height: 30px;
    background-color: rgb(9, 187, 247);
    text-align: center;
    vertical-align: middle;
    border-radius: 40%;
    font-size: small;
    display: inline-block;
    color: #fff;
}

#goals{
    width: 70px;
    height: 30px;
    background-color: purple;
    text-align: center;
    vertical-align: middle;
    border-radius: 40%;
    font-size: small;
    display: inline-block;
    color: #fff;
}

#recruiting{
    width: 70px;
    height: 30px;
    background-color: green;
    text-align: center;
    vertical-align: middle;
    border-radius: 40%;
    font-size: small;
    display: inline-block;
    color: #fff;
}

#mobile{
    width: 70px;
    height: 30px;
    background-color: orange;
    text-align: center;
    vertical-align: middle;
    border-radius: 40%;
    font-size: small;
    display: inline-block;
    color: #fff;
}

#website{
    width: 70px;
    height: 30px;
    background-color: pink;
    text-align: center;
    vertical-align: middle;
    border-radius: 40%;
    font-size: small;
    display: inline-block;
    color: #fff;
}

#sales{
    width: 70px;
    height: 30px;
    background-color: lightgreen;
    text-align: center;
    vertical-align: middle;
    border-radius: 40%;
    font-size: small;
    display: inline-block;
    color: #fff;
}